[submodule "themes/themes/mini"]
	path = themes/themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/fish"]
	path = themes/fish
	url = https://github.com/nunocoracao/blowfish
